body {
  background-color: #4a4a4a;
}

ul#grid li {
	display: inline-block;
	border-radius: 6px;
	padding-right: 10px;
	border: 1px solid #4a4a4a;
}

#grid {
	width: 600px;
	height: 600px;
}

.vacant, .occupied {
	background-color: #fff;
	height: 150px;
	width: 150px;
}

h1, h5 {
	font-family: Raleway;
	color: #fff;
	text-shadow: 5px 5px #000;
}
.eclair {
	font-family: 'Oleo Script Swash Caps', cursive;
}

.donut {
	font-family: 'Damion', cursive;
}

@media (max-width: 640px) {
	#grid {
		height: 500px;
		width: 500px;
	}
	.vacant, .occupied {
		background-color: #fff;
		height: 125px;
		width: 125px;
	}
}

@media (max-width: 550px) {
	#grid {
		height: 400px;
		width: 400px;
	}
	.vacant, .occupied {
		background-color: #fff;
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 420px) {
	#grid {
		height: 300px;
		width: 300px;
	}
	.vacant, .occupied {
		background-color: #fff;
		height: 70px;
		width: 70px;
	}
}