body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	padding-bottom: 20px;
}

#grid {
	margin-top: 20px;
	max-height: 800px;
	width: auto;
}

.eclair {
	font-family: 'Oleo Script Swash Caps', cursive;
}

.donut {
	font-family: 'Damion', cursive;
}