body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.cell {
	padding-right: 0px;
	padding-top: 10px;
}

img {
	max-width: 100%;
	height: auto;
	
}

#grid {
	max-height: 100vh;
	width: auto;
}

.eclair {
	font-family: 'Oleo Script Swash Caps', cursive;
}

.donut {
	font-family: 'Damion', cursive;
}